@page
@model WebApp_undertheHood.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<form method="post" class="m-0 p-0">
    <p>Are you sure you want to log out?</p>
    <button type="submit" class="btn btn-danger">Log out</button>
</form>

